* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: aliceblue;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 80px;
}

header h2 {
    font-size: 24px;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    transition: opacity 0.3s;
}

nav a:first-child {
    text-decoration: underline;
    text-underline-offset: 8px;
}

nav a:hover {
    opacity: 0.7;
}
